<a href="https://colab.research.google.com/github/theakash07/python_codes/blob/google_collab/PythonDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
tax = 12.50 / 100  # Calculate the tax rate as 12.50%
price = 100        # Set the price to 100
m = price + tax    # Calculate the total price including tax
print(m)           # Print the total price
x = price + _      # WE use '_' to Add the last printed result to the price
print(x)           # Print the updated value
y=round(_,1)
print(y)

100.125

TypeError: ignored

In [8]:
x=9
print(type(x))

<class 'int'>

In [17]:
#learning about strings
print("HEllo\10' boy") #\(backward slash use here as escape character the interpreter escape the character next to backslash)
print("\"yes they\" they said") #as you can see here as well.
print('"Isn\'t," they said.')
#raw string in python
print(r'c:\nemo\semo') #it's is raw string literal when you use this then "\" is not treated as escape character.

HEllo' boy
"yes they" they said
"Isn't," they said.
c:\nemo\semo

In [19]:
#this is (""" """) triple quoted string used to print multi line statement.
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [20]:
# 3 times 'un', followed by 'ium'
#we can perform string concatnation only with '+' and '*' operator.
print(3 * 'un' + 'ium')

unununium

In [30]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
print(text)
print('ak''hell') #they will be automatically concatneted

Put several strings within parentheses to have them joined together.
akhell

In [37]:
word="automatic"
print(word[0:4:2])

at

In [43]:
#len function
#it's used to find the length of s variable
s='dgsgwegwewhrhwhewh'
#print(len(s))
t=s.encode(encoding='utf-8', errors='strict')
print(t)

name="akash singh"
print(name.lower())
print(name.upper())
print(name.capitalize())
print(name.casefold())

b'dgsgwegwewhrhwhewh'
akash singh
AKASH SINGH
Akash singh
akash singh

**LIST**:

In [57]:
square=[1,2,3,4]
print(square) #Normal list intialisation
newl=square+[2,3,2,2,32,4] #you can add elements to the list as well..
print(newl)
lst=[1,2,3,42,4,2,33,31]
#appending lst which always happend in the end
lst.append(2)
print(lst)
lst[2:5]=[11,22,33] #adding element at specific postion in the lst
print(lst)
lst[2:5]=[] #ermoving element at specific postion
print(lst)
lst[:]
print(lst)

[1, 2, 3, 4]
[1, 2, 3, 4, 2, 3, 2, 2, 32, 4]
[1, 2, 3, 42, 4, 2, 33, 31, 2]
[1, 2, 11, 22, 33, 2, 33, 31, 2]
[1, 2, 2, 33, 31, 2]
[1, 2, 2, 33, 31, 2]

In [65]:
#making array using list
x=[2,3,4,5]
y=[9,8,6,5]
b=[x,y]
print(b)
met=b[0][3]
print(met)

[[2, 3, 4, 5], [9, 8, 6, 5]]
5

In [67]:
#fibbonaci series
a=0
b=1
res=int(input("Upto what digit you want to find series ?"))
while(res !=0):
  print(a)
  a,b=b,a+b
  res-=1

Upto what digit you want to find series ?10
0
1
1
2
3
5
8
13
21
34